@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&disp)
* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    color: white;
}
